.ContainerNotifications {
    width: 10vw;
    height: 5vh;
}

.ContainerNotifications:hover {
    background-color: silver;
}

.ContainerNotifications > p {
    height: 5vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerNotifications .Notifications {
    position: fixed;
    background-color: silver;
    overflow: auto;
    width: 30vw;
    height: 50vh;
    margin-top: -1000vh;
    border-bottom-left-radius: 0.5vw;
}

.ContainerNotifications:hover .Notifications {
    margin-top: 0px;
}

.ContainerNotifications .Notifications div {
    background-color: darkgray; 
    margin: 0.5vw;
    padding: 0.5vw;
    text-align: left;
    border-radius: 0.5vw;
}

.ContainerNotifications .Notifications div p {
    margin: 0px;
    padding: 0.2vw;
}

.ContainerNotifications .Notifications div p:nth-child(1) {
    font-weight: bold;
}

.ContainerNotifications .Notifications div p:nth-child(2) {
    background-color: lightgray;
    border-radius: 0.5vw;
}
