.delete {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 95vh;
    margin-top: -7vh;
    background-color: rgba(0, 0, 0, 60%);
}

.delete div {
    width: 36vw;
    background-color: lightgray;
    border-radius: 0.5vw;
}

.delete div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete div div p:nth-child(1) {
    width: 17vw;
    float: left;
}

.delete div div p:nth-child(2) {
    width: 17vw;
    float: right;
}

.delete div button {
    width: 4vw;
    margin: 0.5vw;
}