.WordList {
    width: 40vw;
    height: 88vh;
    padding-top: 1vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.WordList .Post div {
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WordList .Post div:nth-child(1) div {
    width: 20vw;
}

.WordList .Post div:nth-child(1) div:nth-child(1) {
    justify-content: left;
    margin-left: 7.5vw;
}

.WordList .Post div:nth-child(1) div:nth-child(2) {
    justify-content: right;
    margin-right: 7.5vw;
}

.WordList .Post > div:nth-child(2) {
    width: 25vw;
    height: 25vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    background-color: aquamarine;
}

.WordList .Post > div:nth-child(2) div {
    width: 18vw;
}

.WordList .Post > div:nth-child(2) div:nth-child(1) {
    float: left;
}

.WordList .Post > div:nth-child(2) div:nth-child(2) {
    float: right;
}