.Subscriptions {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subscriptions div {
    width: 96%;
    height: 92%;
}

.Subscriptions div p {
    margin: 2%;
}

.Subscriptions div div {
    width: 100%;
}

.Subscriptions div div p {
    margin: 1%;
}