.Subscriptions {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subscriptions div {
    width: 96%;
    height: 92%;
}

.Subscriptions div p {
    margin: 2%;
}

.Subscriptions div div {
    width: 100%;
    height: 90%;
    overflow: auto;
}

.Subscriptions div div p {
    margin: 1%;
}

.Subscriptions div div p label {
    width: 50%;
    float: left;
}