.UserInformation {
    border-radius: 0.5vw;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: silver;
}

.UserInformation span {
    width: 50%;
    margin-left: 1vw;
    margin-right: 1vw;
}

.UserInformation span:nth-child(1) {
    text-align: left;
}

.UserInformation span:nth-child(2) {
    text-align: right;
}

.UserInformation span:nth-child(2) button {
    margin-right: 1vw;
}