.Subscribers {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Subscribers div {
    width: 96%;
    height: 92%;
}

.Subscribers div p {
    margin: 2%;
}

.Subscribers div div {
    width: 100%;
    height: 90%;
    overflow: auto;
}

.Subscribers div div p {
    margin: 2%;
}

.Subscribers div div p label {
    width: 50%;
    float: left;
}