.CommentsList {
    width: 25vw;
}

.CommentsList hr {
    margin: 0px;
}

.CommentsList .Comment {
    width: 23vw;
    background-color: lightgrey;
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0.5vw;
    padding: 0.4vw;
    text-align: left;
}

.CommentsList .Comment:last-child {
    margin-bottom: 0px;
}

.CommentsList .Comment div {
    width: 23vw;
}

.CommentsList .Comment div:nth-child(1) {
    height: 4vh;
}

.CommentsList .Comment div > div:nth-child(1) {
    width: 16vw;
    float: left;
}

.CommentsList .Comment div > div:nth-child(1) p {
    margin: 0px;
    margin-left: 0.6vw;    
    font-weight: bold;
}

.CommentsList .Comment div > div:nth-child(1) samp {
    margin-left: 0.6vw;
}


.CommentsList .Comment div > div:nth-child(2) {
    width: 7vw;
    float: left;
    text-align: right;
}

.CommentsList .Comment > div:nth-child(2) {
    width: 23vw;
    float: none;
    background-color: silver;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    border-radius: 0.2vw;
}

.CommentsList .Comment > div:nth-child(2) p {
    width: 23vw;
    margin: 0px;
    margin-left: 0.6vw;
}

.CommentsList .MoreComments {
    width: 25vw;
    text-align: right;
}

.CommentsList .MoreComments button {
    margin-right: 1vw;
}