.postList {
    width: 40vw;
    height: 88vh;
    padding-top: 1vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.postList .Post {
    background-color: silver;
    width: 25vw;
    margin-left: 7.5vw;
    margin-bottom: 0.5vw;
    padding-bottom: 0.2vw;
    border-radius: 0.5vw;
}

.postList .Post > div {
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postList .Post > div:nth-child(1) div {
    width: 25vw;
}

.postList .Post > div:nth-child(1) div:nth-child(1) {
    margin-left: 1vw;
    text-align: left;
    font-weight: bold;
}

.postList .Post > div:nth-child(1) div:nth-child(1) p {
     margin: 0px;
}


.postList .Post > div:nth-child(1) div:nth-child(2) {
    margin-right: 1vw;
    text-align: right;
}

.postList .Post > div:nth-child(2) {
    width: 25vw;
    height: 25vw;
    background-color: aquamarine;
}

.postList .Post div:nth-child(2) .Word {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postList .Post > div:nth-child(2) .Word p {
    width: 11.8vw;
}

.postList .Post > div:nth-child(2) .Test p {
    width: 24.6vw;
}

.postList hr {
    margin: 0px;
}